<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Aquatic Animlas</title>
   <style>
body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 7%;
   left: 190px;
   right:15px;
   width:1100px;
   height:550px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#app{
 position: relative;
 top:-60px;
 left:0px;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
  color: white;
}
h2{
  font-size: 20px;
}
h1{
 color:white;
  font-size:35px;
  text-decoration:underline;
  text-transform: capitalize;
}
/* #a2{
  margin-top:-250px;
} */
#a1{
  width:300px;
}
   </style>
</head>
<body>
    <div>
      <img src="https://cdn.pixabay.com/photo/2016/12/17/14/33/wave-1913559_1280.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-1">whale</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">shark</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">dolpin</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">crabs</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">electric eel</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">angler fish</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">walrus</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">manta rays</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-11">pirana</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-12">string ray</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-13">sword fish</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-14">octopus</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-22">jelly fish</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-17">star fish</button></td></tr>

</table>
</div>
 <div class="overlay-text2">
     <div id="content-1" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/glxULceEEjA" title="Our Planet | Humpback Whales | Clip | Netflix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
             <h1>whale</h1>
              <li><h2> Scientific name :<br><i> cetacea</h2></li></i>
              <li><h2>Life span : <br><i>50 to 90 years</h2></li></i>
              <li><h2>Food : <br><i>fish,octopus,squid,other aquatic animlas</h2></li></i>
              <li><h2>Speciality:<br><i> largest & longest mammal</h2></li></i>
              <li><h2>Speed :<br><i>56 km/h</h2></li></i>
              <li><h2>Weight:<br><i> 3,000 to 4,000kg</h2></li> </i>
             </ul>
           </td>  
         </tr>
       </table>
     </div>
     <div id="content-2" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/4HGNqFdaD34" title="Sharks 101 | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
              <h1>shark</h1>
              <li><h2>Scientific name: <br><i> Selachimorpha</h2></li></i>
              <li><h2>Life span : <br><i>20 to 30 years </h2></li></i>
              <li><h2>Food : <br><i>fish and large sea mammals</h2></li></i>
              <li><h2>Speciality: <br><i>apex predator</h2></li></i>
              <li><h2>Speed :<br><i>8 kph</h2></li></i>
              <li><h2>Weight:<br><i> 522 to 771 kg</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-3" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/G7L4YzGAvMA" title="Incredible Dolphin Moments | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> dolphin</h1>
              <li><h2>Scientific name:<br><i>Delphinus delphis</h2></li></i>
              <li><h2>life span:<br><i>50 to 90 years</h2></li> </i>
              <li><h2>Food:<br><i>fish,squid,shrimps,jellyfish and octopuses.</h2></li></i>
              <li><h2>Speciality: <br><i>socially skilled, intelligent, agile, joyful</h2></li></i>
              <li><h2>Weight:<br><i> 3,000 to 4,000 kg</h2></li></i>
              <li><h2> Speed : <br><i>56 km/h</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-4" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/AtXDcw34lqI" title="45 Million Red Crabs March | Lands of the Monsoon | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>crabs</h1>
              <li><h2>Scientific name :<br><i>phylum Arthropoda</h2></li></i>
              <li><h2>Life span:<br><i>3 to 5 years </h2></li></i>
              <li><h2>Food :<br><i>algae,molluscs,worms,fungi,bacteria.</h2></li></i>
              <li><h2> Speciality:<br><i> Crab meat is rich in protein,vitamins,minerals  </h2></li></i>
              <li><h2>Speed :<br><i>up to 12 miles per hour.</h2></li></i>
              <li><h2>Weight: <br><i>110.2 grams</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     
     <div id="content-5" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/a3sviTa8hZw" title="Six-Foot Electric Eel | World&#39;s Deadliest" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>electric eel</h1>
              <li><h2>Scientific name :<br><i>Ele</h2></li></i>
              <li><h2>Life span :<br><i>10 to 15 years</h2></li></i>
              <li><h2>Food : <br><i>crabs,crustaceans.</h2></li></i>
              <li><h2>Speciality:  <br><i>body release powerful electric charges of up to 650 volts</h2></li></i>
              <li><h2>Speed:<br><i>Up to 5 mph (8 km/h)</h2></li></i>
              <li><h2>Weight: <br><i>nearly 45 pounds</h2></li>  </i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-6" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/TmwBE8VkATw" title="The Anglerfish - Deep Sea Monster" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>angler fish</h1>
              <li><h2>Scientific name: <br><i>Chaenophryne longiceps.</h2></li></i>
              <li><h2>Life span : <br><i>12 years</h2></li></i>
              <li><h2>Food :<br><i>small fish, shrimp,turtle</h2></li></i>
              <li><h2>Speciality:<br><i> a piece of dorsal spine </h2></li></i>
              <li><h2>SPEED:<br><i>slow</h2></li></i>
              <li><h2>Weight: <br><i>32 kgs</h2></li> </i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-22" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/9z8ujpPgUjI" title="Jellyfish 101 | Nat Geo Wild" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> jelly fish</h1>
              <li><h2>Scientific name : <br><i>class Scyphozoa (phylum Cnidaria)</h2></li></i>
              <li><h2>Life span :<br><i>1-3 years</h2></li></i>
              <li><h2>Speciality:<br><i>tiny stinging cells paralyze their prey before they eat them.</h2></li></i>
              <li><h2>Food :<br><i>fish, shrimp, and crab</h2></li></i>
              <li><h2>Speed:<br><i> two meters per second</h2></li></i>
              <li><h2>Weight:<br><i> 20-400g</h2></li> </i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-9" class="content-item">
      <table>
        <tr>
          <td><iframe width="1062" height="597" src="https://www.youtube.com/embed/BL5NohNcofI" title="A Walrus Pup’s Swimming Lesson | Animal 24" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
             <h1>walrus</li>
             <li><h2> Scientific name :<br><i>Odobenus rosmarus </h2></li></i>
             <li><h2>Life span : <br><i>40 years </h2></li></i>
             <li><h2>Food :<br><i> worms</h2></li></i>
             <li><h2>Speciality :<br><i>have strong tusks(teeth)</h2></li></i>
             <li><h2>Speed :<br><i>7 kph (4 mph) </h2></li></i>
             <li><h2>Weight  : <br><i>1,000kgs</h2></li></i>
           </ul>
          </td>
        </tr>
      </table>
    </div>
    <div id="content-10" class="content-item">
      <table>
        <tr>
          <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/QbYyLI6njW8" title="Manta Ray Gets a Spring Clean | 4KUHD | Japan: Earth&#39;s Enchanted Islands | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
             <h1>mantra rays</h1>
             <li><h2> Scientific name:<br><i> Manta birostris</h2></li></i>
             <li><h2>Life span :<br><i> 45 years</h2></li></i>
             <li><h2>Food:<br><i>euphausiids, copepods, mysids, decapod larvae</h2></li></i>
             <li><h2> Speciality:<br><i> fished for their meat</h2></li></i>
             <li><h2>Speed :<br><i>9 miles per hour</h2></li></i>
             <li><h2> Weight:<br><i> upto 5,300 pounds</h2></li></i>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div id="content-11" class="content-item">
    <table>
      <tr>
        <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/fSqbqDhDYZo" title="Piranha Feeding Frenzy | Planet Earth | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>pirana </h1>
           <li><h2>Scientific name:<br><i> Pygocentrus nattereri</h2></li></i>
           <li><h2>Life span:<br><i> 10 years </h2></li></i>
           <li><h2>Food :<br><i>insects, fish, crustaceans, worms, carrion, seeds</h2></li></i>
           <li><h2> Speciality  :<br><i> razor sharp teeth,</h2></li></i>
           <li><h2>Speed:<br><i>20 – 30 kph</h2></li></i>
           <li><h2>Weight: <br><i>less than two pounds</h2></li> </i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-12" class="content-item">
    <table>
      <tr>
        <td><iframe width="848" height="636" src="https://www.youtube.com/embed/Nbuu1Fa-c1k" title="Stingray | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>Stingray </h1>
           <li><h2>Scientific name :<br><i>Myliobatoidei </h2></li></i></i>
           <li><h2>Life span : <br><i>25 years</h2></li></i>
           <li><h2>Food :<br><i>worms, clams, oysters, snails</h2></li></i>
           <li><h2>Speciality:<br><i>super set of senses to search for food</h2></li></i>
           <li><h2>Speed :<br><i>30 miles per hour</h2></li></i>
           <li><h2>Weight:<br><i> 5 pounds</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>  
  </div>
  <div id="content-13" class="content-item">
    <table>
      <tr>
        <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/pRyFGSTaQ_Y" title="Sailfish Are Master Hunters | Planet Earth | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>Swordfish</h1>
           <li><h2>Scientific Name: <br><i>Xiphias gladius</h2></li></i>
           <li><h2>Life span :<br><i>9 year's</h2></li></i>
           <li><h2>Food :<br><i>octopus,and fishs</h2></li></i>
           <li><h2> Speciality:<br><i> long,flat, pointed bill. </h2></li></i>
           <li><h2>Speed :<br><i>over 60 mph</h2></li></i>
           <li><h2> Weight:<br><i> 50 to 200 pounds</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-14" class="content-item">
    <table>
      <tr>
        <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/oSyEZAm8nb8" title="Octopuses 101 | Nat Geo Wild" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>octopus</h1>
           <li><h2>Scientific name:<br><i>u Octopoda.</h2></li></i>
           <li><h2>Food :<br><i>usnails and sea slugs,lobsters,crabs,fish.</h2></li></i>
           <li><h2>Life span :<br><i>u  1 to 5 years </h2></li></i>
           <li><h2>Speciality:<br><i>u large brains.</h2></li></i>
           <li><h2>Speed :<br><i>uup to 25 mph</h2></li></i>
           <li><h2>Weight:<br><i>u3 to 10 kgs</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-17" class="content-item">
    <table>
      <tr>
        <td><iframe id="a2" width="1036" height="583" src="https://www.youtube.com/embed/LomGjf3osLQ" title="Facts: The Sea Star (Starfish)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul id="a1" style="list-style-type:circle">
           <h1>star fish</h1>
           <li><h2>Scientific name :<br><i>u Asterias rubens</h2></li></i>
           <li><h2>Life span :<br><i>u 35 years </h2></li></i>
           <li><h2>Food :<br><i>ucoral, sponges, clams, oysters, sand dollars, and mussels</h2></li></i>
           <li><h2>Speciality: <br><i>uaquatic animal with no brain or blood  </h2></li></i>
           <li><h2>Speed: <br><i>u10 miles per hour </h2></li></i>
           <li><h2>Weight:<br><i>upto 11lbs</h2></li> </i>
          </ul>
        </td>
      </tr>
    </table>
  </div>

     </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => {
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
       
     </script>
</body>
</html>

