<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BIRDS</title>
   <style>
body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 7%;
   left: 220px;
   right:0px;
   width:1080px;
   height:550px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
    text-transform: capitalize;
}
h2{
  font-size: 20px;
color:white;
}
h1{
  font-size:35px;
  text-decoration:underline;
  color:white;
 text-transform: capitalize;
}
   </style>
</head>
<body>
    <div>
  <img src="https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736875_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-1">Eagle</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">Falogon</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Parrots</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">Peacock</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">Ostrich</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">Crane</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">Swan</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">Hummingbird</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">Toucans</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">Kingfisher</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-11">Hoatzin</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-12">Owl</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-13">Vulture</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-14">woodpecker</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-15">weaver bird</button></td></tr>
</table>
</div>

 <div class="overlay-text2">
     <div id="content-1" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/1ryv1u2yXCk" title="The Rebirth of the Eagle Inspiring Story | Change for Survival" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Eagle</h1>
                <li><h2>Scientific name:<br><i> Accipitridae</i></h2></li>
                <li><h2>Lifespan:<br><i> 20-30 years</i></h2></li>
                <li><h2>Food:<br><i> Squirrels and rabbits</i></h2></li>
                <li><h2>Speciality:<br><i> Extremely powerful vision</i></h2></li>
                <li><h2>Speed:<br><i> 320 kph</i></h2></li>
                <li><h2> Weight:<br><i> 3-6.3kg</i></h2></li>
            </ul>
           </td>
         </tr>
       </table>
       <!-- <h1>fact:King of birds</h1> -->
     </div>
     <div id="content-2" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/r7lglchYNew" title="Fastest Animal Makes a Kill | World&#39;s Deadliest" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Falogon</h1></li>
                <li><h2>Scientific Name:<br><i> Falco</i></h2></li>
                <li><h2>food:<br><i> birds</i></h2></li>
                <li><h2>Lifespan:<br><i> 10 to 20 years</i></h2></li>
                <li><h2>Speciality:<br><i> speed</i></h2></li>
                <li><h2>speed:<br><i> 386 km/h</i></h2></li>
                <li><h2>Weight:<br><i> 1.2 to 3.3 pounds</i></h2></li>
            </ul>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-3" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/PR8S50WuWxE" title="Parrot Facts for Kids | Interesting Educational Video about Parrots for Children | Fun Facts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Parrots</h1>
                <li><h2>Scientific name:<br><i> Psittaciformes</h2></li></i>
                <li><h2>Lifespan:<br><i> 40-60 years</h2></li></i>
                <li><h2>Food:<br><i> vegetables and fruits</h2></li></i>
                <li><h2>Speciality:<br><i> clawed zygodactyl feet</h2></li></i>
                <li><h2>Speed:<br><i> 81-200mph</h2></li></i>
                <li><h2>Weight:<br><i> under 10g</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-4" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/TTwT1-TpFhE" title="Peacock Courtship | World&#39;s Weirdest" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
               <h1>Peacock</h1>
                <li><h2> Scientific name:<br><i> peafowl</h2></li></i>
                <li><h2>Lifespan:<br><i> 10-25 years</h2></li></i>
                <li><h2>Food:<br><i> Seeds and grains</h2></li></i>
                <li><h2>Speciality:<br><i> most beautiful bird</h2></li></i>
                <li><h2>Speed:<br><i> 10mph</h2></li></i>
                <li><h2> Weight:<br><i> 4-6kg</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-5" class="content-item">
       <table>
         <tr>
          <td><iframe width="853" height="480" src="https://www.youtube.com/embed/Jwmr8os4dRQ" title="The Ostrich&#39;s Anti-Predator Tactics | Africa&#39;s Deadliest" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Ostrich</h1>
                <li><h2>Scientific name:<br><i> Struthio</h2></li></i>
                <li><h2>Lifespan:<br><i> 30-40 years</h2></li></i>
                <li><h2>Food:<br><i> Leafy greens and grass</h2></li></i>
                <li><h2>Speciality:<br><i> fleet and strong runners</h2></li></i>
                <li><h2>Speed:<br><i> 70 mph</h2></li></i>
                <li><h2> Weight:<br><i> 250-300 pounds</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-6" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/COkT0Rx9gEI" title="Thousands of Cranes Take Flight in One of Earth&#39;s Last Great Migrations | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Crane</h1>
                <li><h2>Scientific name:<br><i> Grus canadensis</h2></li></i>
                <li><h2>Lifespan:<br><i> 20-30 years</h2></li></i>
                <li><h2> Food:<br><i> insects and spiders</h2></li></i>
                <li><h2>Speciality:<br><i> powerful flyers</h2></li></i>
                <li><h2>Speed:<br><i> 25-35mph</h2></li></i>
                <li><h2>Weight:<br><i> 3-6.1kg</h2></li></i>
                </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-7" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/P-bg66QQlmE" title="Swan facts: the largest living waterfowl | Animal Fact Files" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Swan</h1>
                <li><h2>Scientific name:<br><i> Genus Cygnus</h2></li></i>
                <li><h2>Lifespan:<br><i> 20-30 years</h2></li></i>
                <li><h2>Food:<br><i> Aquatic vegetation</h2></li></i>
                <li><h2>Speciality:<br><i> beauty and elegance</h2></li></i>
                <li><h2>Speed:<br><i> 80.4-88.5kmph</h2></li></i>
                <li><h2>Weight:<br><i> 11-12 kg</h2></li>    </i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-8" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/k2yPmywgtg8" title="Hummingbirds! | #NatGeoWild #RealisHere" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
                <h1>Humming bird</h1>
                <li><h2>Scientific name:<br><i> Trochilidae</h2></li></i>
                <li><h2>Lifespan:<br><i> 3-5 years</h2></li></i>
                <li><h2>Food:<br><i> white granulated cane sugar</h2></li></i>
                <li><h2> Speciality:<br><i> they can fly forward, backward, and even upside down</h2></li></i>
                <li><h2>Speed:<br><i> 30mph</h2></li></i>
                <li><h2> Weight:<br><i> 18-24g</h2></li>   </i>  
            </ul>
           </td>
         </tr>
       </table>   
     </div>
     <div id="content-9" class="content-item">
      <table>
        <tr>
          <td><iframe width="640" height="480" src="https://www.youtube.com/embed/5ExbebXMw1M" title="Birds of Paradise - Toucan | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
                <h1>Toucans</h1>
                <li><h2>Scientific name:<br><i> Ramphastos toco</h2></li></i>
                <li><h2>Lifespan:<br><i> 12-20 years</h2></li></i>
                <li><h2>Food:<br><i> fruits and eggs</h2></li></i>
                <li><h2>Speciality:<br><i> they face threats in the wild</h2></li></i>
                <li><h2>Speed:<br><i> 40mph</h2></li></i>
                <li><h2>Weight:<br><i> 1.9pounds</h2></li></i>
            </ul>   
          </td>
        </tr>
      </table>
    </div>
    <div id="content-10" class="content-item">
      <table>
        <tr>
          <td><iframe width="853" height="480" src="https://www.youtube.com/embed/5dnouQtSIL0" title="Kingfisher: Death from Above" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
                <h1>Kingfisher</h1>
                <li><h2>Scientific name:<br><i> Alcedinidae</h2></li></i>
                <li><h2>Lifespan:<br><i> 15 years</h2></li></i>
                <li><h2>Food:<br><i> fish and chiefly minnows</h2></li></i>
                <li><h2>Speciality:<br><i> hunting fish</h2></li></i>
                <li><h2>Speed:<br><i> 25mph</h2></li></i>
                <li><h2>Weight:<br><i> 31g</h2></li></i>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div id="content-11" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/5hhd11ecqnM" title="Hoatzin, a bird related to dinosaurs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
            <ul style="list-style-type:circle">
                <h1>Hoatzin</h1>
                <li><h2>Scientific name:<br><i> Opisthocomus hoazin</h2></li></i>
                <li><h2>Lifespan:<br><i> 15-30 years</h2></li></i>
                <li><h2>Food:<br><i> Swamp plants</h2></li></i>
                <li><h2>peciality:<br><i> digestive system similar to a cow.</h2></li></i>
                <li><h2>Speed:<br><i> slow-moving bird</h2></li></i>
                <li><h2>Weight:<br><i> less than 1kg</h2></li></i>
            </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-12" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/w4OH6gMN6vY" title="Super-Hearing Helps Owl Hunt | World&#39;s Deadliest" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
            <ul style="list-style-type:circle">
                <h1>OWL</h1>
                <li><h2>Scientific name:<br><i> strigiformes</h2></li></i>
                <li><h2>Lifespan:<br><i> 8-10 years</h2></li></i>
                <li><h2>Food:<br><i> mice, rats and frogs</h2></li></i>
                <li><h2>Speciality:<br><i> binaural hearing</h2></li>
                <li><h2>Speed:<br><i> 40 mbps</h2></li></i>
                <li><h2>Weight:<br><i> 4 pounds</h2></li>    </i>
            </ul>         
        </td>
      </tr>
    </table>
  </div>
  <div id="content-13" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/U7bL-h8Cfyc" title="Vulture facts: nature&#39;s clean up crew | Animal Fact Files" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
          <h1>Vulture</h1>
           <li><h2>Scientific Name:<br><i>  Gyps spp</h2></li></i>
           <li><h2>Lifespan: <br><i> 20 to 30 years </h2></li></i>
           <li><h2>Food:<br><i> flesh of dead animals</h2></li></i>
           <li><h2>Specialty: <br><i> tearing flesh and strong digestive systems</h2></li></i>
           <li><h2>Speed:<br><i>  30mph</h2></li></i>
           <li><h2>Weight:<br><i>  1 to 9 kg</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-14" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/5TRrQl9yTtc" title="Nature: Woodpeckers in Florida" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
          <h1>woodpeaker</h1>
           <li><h2>Scientific name:<br><i>  Picidae</h2></li></i>
           <li><h2>Lifespan:<br><i> 4-11 years</h2></li></i>
           <li><h2>Food:<br><i> insects, nuts, and fruit</h2></li></i>
           <li><h2>Specialty:<br><i> sharp and strong beaks,small and flexible brain</h2></li></i>
           <li><h2>Speed:<br><i> 6–7 m/s,</h2></li></i>
           <li><h2>Weight:<br><i> 225 to 400 g</h2></li>  </i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-15" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/mlCrXGLh9QU" title="Baya WEAVER BIRD making Nest : Weaver Bird Documentary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
       <td>
        <ul style="list-style-type:circle">
         <h1>weaver birds</h1>
           <li><h2>Scientific name:<br><i> Ploceidae</h2></li></i>
           <li><h2>Lifespan:<br><i> 10-20 years</h2></li></i>
           <li><h2>Food:<br><i> insects,nuts,seeds</h2></li></i>
           <li><h2>Specialty:<br><i> construction of embellished nest</h2></li></i>
           <li><h2>Speed:<br><i> normal</h2></li></i>
           <li><h2>Weight:<br><i> 28-85g</h2></li> </i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
     </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => {
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
       
     </script>
</body>
</html>

