<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Deers</title>
   <style>
body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 10%;
   left: 250px;
   right:0px;
   width:1080px;
   height:550px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#app{
 position: relative;
 top:-60px;
 left:0px;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
  color: white;
}
h2{
  font-size: 20px;
}
h1{
  color:white;
  font-size:35px;
  text-decoration:underline;
  text-transform: capitalize;
}
   </style>
</head>
<body>
    <div>
  <img src="https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">Red deer</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Water deer</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4"> Reindeer</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5"> Mule deer</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">Sike deer</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">Elk deer</button></td></tr>
    </table>
</div>
 <div class="overlay-text2">
     <div id="content-2" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/_O9x3bQpGhw" title="Things you need to know about RED DEER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
             <h1> Red deer</h1>
              <li><h2>Scientific name: <br><i>Cervus elaphus</i></h2></li>
              <li><h2>Life span:<br><i>20years</i></h2></li>
              <li><h2>Food:<br><i>tree shoots,sedges and rushes,herbs and shrubs</i></h2></li>
              <li><h2>Speciality:<br><i>thicker coats of hair</i></h2></li>
              <li><h2>Speed :<br><i>70kmph</i> </h2></li>
              <li><h2>Weight:<br><i>120-240 kg </i></h2></li>
             </ul>      
           </td>
         </tr>
       </table>
     </div>
     <div id="content-3" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="547" src="https://www.youtube.com/embed/FZ55hjefZ1Q" title="Water Deer: The Saber Tooth Deer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul>
              <h1> Water deer</h1>
              <li><h2>Scientific name:<br><i>Hydropotes inermis</i></h2></li>
              <li><h2>Life span : <br><i>10 to 12 years</i></h2></li>
              <li><h2>Food:<br><i>reeds,coarse grasses, vegetables, and beets</i></h2></li>
              <li><h2>Speciality: <br><i>larger than a muntjac</i></h2></li>
              <li><h2>Speed : <br><i></i> (25 mph)40 kph</h2></li>
              <li><h2>Weight:<br><i>12-18.5 kg</i></h2></li>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-4" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/ApBbiCZEZKo" title="Magical Finland Sleigh Ride! | Reindeer Family and Me | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Reindeer</h1>
              <li><h2>Scientific name :<br><i>Rangifer tarandus</i></h2></li>
              <li><h2>Life span : <br><i>15 to 18 years</i></h2></li>
              <li><h2>Food:<br><i>reeds,coarse grasses, vegetables, and beets</i></h2></li>
              <li><h2>Speciality:<br><i>domesticated deer on a large scale in the world</i></h2></li>
              <li><h2>Speed : <br><i>60 to 80 kmph</i></h2></li>
              <li><h2>Weight: <br><i> 160 to 180 kg</i></h2></li>
             </ul>  
           </td>
         </tr>
       </table>
     </div>
     <div id="content-5" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/BIAyb-1uwTg" title="A Deer Migration You Have to See to Believe | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Mule deer</h1>
              <li><h2>Scientific name:<br><i>Odocoileus hemionus</i></h2></li>
              <li><h2>Life span:<br><i>9 to 11 years</i></h2></li>
              <li><h2>Food:<br><i> leaves,plants</i></h2></li>
              <li><h2>Speciality:<br><i>large ears</i></h2></li>
              <li><h2>Speed:<br><i>35 mph</i></h2></li>
              <li><h2>Weight:<br><i>  55 to 150kg</i></h2></li>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     
     <div id="content-6" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/t6kdSVjRaWc" title="Regarding the Temple Deer | Wild Japan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Sike deer</h1>
              <li><h2>Scientific name : <br><i>Cervus nippon</i></h2></li>
              <li><h2>Life span:<br><i>15 to 8 years</i></h2></li>
              <li><h2>Food:<br><i>corn and soybeans</i></h2></li>
              <li><h2>Speciality:<br><i>excellent swimmers</i></h2></li>
              <li><h2>speed:<br><i>48 kmph</i></h2></li>
              <li><h2>Weight :<br><i> 42 kg</i></h2></li>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-7" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/dg4VeesS6_I" title="The Yearly Elk Brawl | Untamed Americas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Elk deer</h1>
              <li><h2>Scientific name:<br><i>Cervus elaphus canadensis</i></h2></li>
              <li><h2>Life span:<br><i>20 years</i> </h2></li>
              <li><h2>Food:<br><i>grass,shrubs,tree bark</i></h2></li>
              <li><h2>Speed:<br><i>45 mph </i></h2></li>
              <li><h2>Weight:<br><i>320 to 330 kgs</i></h2></li>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-8" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/iRroyCt6_Ac" title="The White-tailed Deer: Everything You Need To Know! (4K)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> White tailed deer</h1>
              <li><h2>Scientific name:<br><i>Odocoileus virginianus</i></h2></li>
              <li><h2>Life span:<br><i>6 years</i></h2></li>
              <li><h2>Food:<br><i>aquatic vegetation,apples,berries</i></h2></li>
              <li><h2>Speed:<br><i>35 mph </i></h2></li>
              <li><h2>Weight:<br><i>68 kg</i></h2></li>
             </ul>
           </td>
         </tr>
       </table>
      </div>
     </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => {
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
       
     </script>
</body>
</html>

