<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Extinct animals</title>
   <style>
    body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
#img123{
   width:1350px;
   height:670px;
   
}
.overlay-text1 {
   position: absolute;
   top: 3%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
  }
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 10%;
   left: 250px;
   right:0px;
   width:1080px;
   height:500px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#play-button1{
  width:200px;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
img{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
  color: white;
}
h1{
  font-size: 35px;
  color: white;
  text-decoration: underline;
}
h2{
  font-size: 20px;
}
#a1{
  width:800px;
   height:480px;
}
   </style>
</head>
<body>
    <div>
  <img id="img123" src="https://cdn.pixabay.com/photo/2019/08/09/23/11/forest-4395986_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">Smooth Handfish</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Yangtze River Dolphin</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">Northern White Rhinoceros</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">Spix Macaw</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">Thylacine</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">Passenger Pigeon</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">Quagga</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">Pyrenean Ibex</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">Zanzibar Leopard</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-11">Po'ouli</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-12">West African Black Rhino</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-13">Tecopa Pupfish</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-14">Falkland Islands Wolf</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-15">Javan Tiger</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-16">Pinta Island Tortoise</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-17">Schomburgk’s Deer</button></td></tr>
      <tr><td><button  id="play-button1"  class="nav-button"  data-content="content-18">The Dodo</button></td></tr>
</table>
</div>
 <div class="overlay-text2">
     <div id="content-2" class="content-item">
      <table>
        <tr>
          <td> <img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/red-handfish-thymichthys-c2-a0politus-rare-and-critically-news-photo-1628801894.jpg?crop=0.97088xw:1xh;center,top&resize=980:*">
</td>
          <td>
            <ul>
              <h1>Smooth Handfish</h1>
              <li><h2>last seen :<br><i> 2000</h2></li></i>
              <li><h2>reason:<br><i>fishing and climite change</h2></li></i>
            </ul>
          </td>
        </tr>
      </table>
      </div>
     <div id="content-3" class="content-item"> 
           <table>
      <tr>
        <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/newly-born-yangtze-finless-porpoise-swims-with-his-mother-news-photo-1650486176.jpg?crop=1xw:1xh;center,top&resize=980:*">
</td>
        <td>
          <ul>
            <h1>Yangtze River Dolphin</h1>
            <li><h2>last seen :<br><i> 2002</h2></li></i>
            <li><h2>reason:<br><i>Overfishing, pollution</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
           
     </div>
     <div id="content-4" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/najin-and-her-offspring-fatu-two-female-northern-white-news-photo-1607463656.?crop=1xw:1xh;center,top&resize=980:*">
</td>
   <td>
     <ul>
       <h1> Northern White Rhinoceros</h1>
       <li><h2>last seen : <br><i>2018</h2></li></i>
       <li><h2>reason:<br><i>hunting</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
            
     </div>
     <div id="content-5" class="content-item">
      <table>
 <tr>
   <td> <img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/spixs-macaws-felicitas-frieda-paula-and-paul-sit-on-a-news-photo-1607465207.?crop=1.00xw:0.963xh;0,0&resize=980:*">
</td>
   <td>
     <ul>
      <h1>Spix Macaw</h1>
       <li><h2>last seen :<br><i>2016 </h2></li></i>
       <li><h2>reason:<br><i>illegal poaching for the wild bird trade</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
          
     </div>
     <div id="content-6" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/now-extinct-tasmanian-tiger-in-hobart-zoo-tasmania-news-photo-1607465288.?crop=1xw:1xh;center,top&resize=980:*">
</td>
   <td>
     <ul>
      <h1>Thylacine</h1>
       <li><h2>last seen : <br><i>1936</h2></li></i>
       <li><h2>reason:<br><i>excessive hunting and introduced disease</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
            
     </div>
     <div id="content-7" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/the-now-extinct-passenger-pigeon-is-on-display-at-the-news-photo-1607466889.?crop=1xw:1xh;center,top&resize=980:*">
</td>
   <td>
     <ul>
       <h1> Passenger Pigeon</h1>
       <li><h2>last seen :<br><i>1930 </h2></li></i>
       <li><h2>reason:<br><i>hunting</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
            
     </div>
     <div id="content-8" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/quagga-in-enclosure-1607467225.jpg?crop=1.00xw:0.824xh;0,0.0943xh&resize=980:*">
 </td>
   <td>
     <ul>
      <h1>Quagga</h1>
       <li><h2>last seen :<br><i>1900 </h2></li></i>
       <li><h2>reason:<br><i>ruthless hunting</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
           
     </div>
     <div id="content-9" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/438px-pyrenean-ibex-1607468562.png?crop=1.00xw:0.488xh;0,0.292xh&resize=980:*">
</td>
   <td>
     <ul>
       <h1> Pyrenean Ibex</h1>
       <li><h2>last seen :<br><i>2000 </h2></li></i>
       <li><h2>reason:<br><i>Extensive hunting during the 19th century</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
            
     </div>
     <div id="content-10" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/pop.h-cdn.co/assets/cm/15/05/54ca698969ab3_-_zanzibarleopard-lg.jpg?crop=1.00xw:0.857xh;0,0.0826xh&resize=980:*">
 </td>
   <td>
     <ul>
        <h1> Zanzibar Leopard</h1>
       <li><h2>last seen : <br><i>1980</h2></li></i>
       <li><h2>reason:<br><i>Extensive hunting</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
          
     </div>
     <div id="content-11" class="content-item">
      <table>
 <tr>
   <td> <img id="a1" src="https://hips.hearstapps.com/pop.h-cdn.co/assets/cm/15/05/54ca6989e0712_-_poo-uli-black-faced-honey-lg.jpg?crop=1.00xw:0.854xh;0,0.146xh&resize=980:*">
  </td>
   <td>
     <ul>
      <h1>Po'ouli</h1>
       <li><h2>last seen :<br><i>1997 </h2></li></i>
       <li><h2>reason:<br><i>Habitat loss, along with disease</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
        
     </div>
     <div id="content-12" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/farm-workers-rush-trim-the-horn-of-a-sedated-black-rhino-at-news-photo-1607528025.?crop=1xw:0.99951xh;center,top&resize=980:*">
 </td>
   <td>
     <ul>
       <h1>West African Black Rhino</h1>
       <li><h2>last seen : <br><i>2006</h2></li></i>
       <li><h2>reason:<br><i> hunted the rhino for its horn</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
           
     </div>
     <div id="content-13" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/animals-are-riding-an-escalator-to-extinction-835505-1566924803.jpg?crop=1.00xw:0.447xh;0,0.234xh&resize=980:*">
   </td>
   <td>
     <ul>
      <h1>Tecopa Pupfish</h1>
       <li><h2>last seen :<br><i> 1970</h2></li></i>
       <li><h2>reason:<br><i>destruction of their natural habitat</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
         
     </div>
     <div id="content-14" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/the-falkland-islands-wolf-is-thought-to-be-extinct-news-photo-558233497-1566915468.jpg?crop=0.85348xw:1xh;center,top&resize=980:*">
  </td>
   <td>
     <ul>
      <h1>Falkland Islands Wolf</h1>
       <li><h2>last seen :<br><i>1900 </h2></li></i>
       <li><h2>reason:<br><i>Hunting</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
          
     </div>
     <div id="content-15" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/panthera-tigris-sondaica-01-1566924926.jpg?crop=1.00xw:0.980xh;0,0.0200xh&resize=980:*">
   </td>
   <td>
     <ul>
      <h1>Javan Tiger></h1>
       <li><h2>last seen :<br><i>1915 </h2></li></i>
       <li><h2>reason:<br><i>Loss of habitat</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
         
     </div>
     <div id="content-16" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/isla-santa-cruz-ecuador-solitario-george-the-last-giant-news-photo-71305323-1566917458.jpg?crop=1.00xw:0.445xh;0,0.0950xh&resize=980:*">
   </td>
   <td>
     <ul>
      <h1>Pinta Island Tortoise</h1>
       <li><h2>last seen : <br><i>2015 </h2></li></i>
       <li><h2>reason:<br><i>hunting for their meat </h2></li></i>
     </ul>
   </td>
 </tr>
</table>
         
     </div>
     <div id="content-17" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/screen-shot-2019-08-27-at-11-08-28-am-1566918534.png?crop=1.00xw:0.676xh;0,0&resize=980:*">
  </td>
   <td>
     <ul>
      <h1>Schomburgk’s Deer</h1>
       <li><h2>last seen : <br><i>1932</h2></li></i>
       <li><h2>reason:<br><i>hunting</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
          
     </div>
     <div id="content-18" class="content-item">
      <table>
 <tr>
   <td><img id="a1" src="https://hips.hearstapps.com/hmg-prod/images/dodo-raphus-cucullatus-didus-ineptus-extinct-flightless-news-photo-1607528588.?crop=1.00xw:0.871xh;0,0.0222xh&resize=980:*">
 </td>
   <td>
     <ul>
      <h1>The Dodo</h1>
       <li><h2>last seen : <br><i>1690 </h2></li></i>
       <li><h2>reason:<br><i>sailors hunting and eating</h2></li></i>
     </ul>
   </td>
 </tr>
</table>
           
     </div>
     </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => {
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
     </script>
</body>
</html>


