<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Hybrids</title>
   <style>
    body{
      overflow:hidden;
    }
    ul{
  width:300px;
      }
            #img123{
      width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 7%;
   left: 210px;
   right:0px;
   width:1135px;
   height:550px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}/*
#app{
 position: relative;
 top:-60px;
 left:0px;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}*/
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
li{
  text-transform: capitalize;
  color: white;
}
h2{
  font-size: 18px;
}
h1{
  font-size:25px;
  text-transform: capitalize;
  text-decoration:underline;
  color: white;
}
#a1{
  width:1080px;
   height:500px;
}
#photo{
  width:800px;
  height:480px;
}
   </style>
</head>
<body>
    <div>
  <img id="img123" src="https://cdn.pixabay.com/photo/2018/03/02/19/21/nature-3194001_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-1">Liger</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">Tigon</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Wholphin</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">Leopon</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">Beefalo</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">Grolar Bear</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">Jaglion</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">Zebroid</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">Geep</button></td></tr>
</table>
</div>
 <div class="overlay-text2">
  <div id="content-1" class="content-item">
    <table>
      <tr>
        <td><img id="photo" src="https://a-z-animals.com/media/liger-Panthera-leo-Panthera-tigris.jpg" id="a1"></td>
        <td>
          <ul>
            <h1>Liger: Male Lion And Female Tiger</h1>
            <li><h2>Scientific Name:<br><i> Panthera tigris x Panthera leo</h2></li></i>
            <li><h2>Lifespan:<br><i> 13 to 18 years</h2></li></i>
            <li><h2>Food:  <br><i>deer, antelope etc</h2></li></i>
            <li><h2>Specialty:<br><i>physical characteristics from both lion and tiger</h2></li></i>
            <li><h2>Speed:<br><i> 50 mph</h2></li></i>
            <li><h2>Weight:<br><i>362 to 544 kgs</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>  
  </div>
  <div id="content-2" class="content-item">
    <table>
      <tr>
        <td> <img id="photo"  src="https://a-z-animals.com/media/tigon-Panthera-tigris-Panthera-leo.jpg" id="a1"></td>
        <td>
          <ul>
            <h1>Tigon: Male Tiger and Female Lion</h1>
            <li><h2>Scientific Name: <br><i>Panthera tigris x Panthera leo</h2></li></i>
            <li><h2>Lifespan:<br><i> 12 to 18 years</h2></li></i>
            <li><h2>Food:<br><i> meat, deer, antelope</h2></li></i>
            <li><h2>Specialty:<br><i> physical characteristics from both lion and tiger</h2></li>
            <li><h2>Speed:<br><i> 50 mph</h2></li></i>
            <li><h2>Weight:<br><i> 136 to 227 kgs</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-3" class="content-item"> <table>
    <tr>
      <td><img  id="photo" src="https://a-z-animals.com/media/2020/07/Baby_wolphin_by_pinhole-1024x819.jpeg" id="a1"></td>
      <td>
        <ul>
    <h1>Wholphin: False Killer Whale and Dolphin</h1>
          <li><h2>Scientific Name:<br><i> Tursiops truncatus x Orcinus orca</h2></li></i>
          <li><h2> Lifespan:<br><i> 30 to 50 years.</h2></li></i>
          <li><h2>Food:<br><i> fish, squid</h2></li></i>
          <li><h2>Specialty:<br><i>hybrid between false killer whale<br> and dolphin</h2></li></i>
          <li><h2> Speed:<br><i> 16 to 24 kmph</h2></li></i>
          <li><h2>Weight:<br><i> 181 to 363 kgs</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
  </div>
  <div id="content-4" class="content-item"> <table>
    <tr>
      <td>   <img  id="photo" src="https://a-z-animals.com/media/2020/07/Leopons.jpg" id="a1"></td>
      <td>
        <ul>
    <h1>Leopon: Leopard and Lion Hybrid Animal</h1>
          <li><h2>Scientific Name:<br><i> Panthera pardus x Panthera leo</h2></li></i>
          <li><h2>Lifespan:<br><i>12 to 15 years.</h2></li></i>
          <li><h2>Food:<br><i>meat just like wild animlas</h2></li></i>
          <li><h2>Specialty:<br><i> crossbreeding of male leopard with female lion</h2></li></i>
          <li><h2>Speed:<br><i> 58 to 64 kmph</h2></li></i>
          <li><h2>Weight:<br><i>45 to 91 kgs</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
  </div>
  <div id="content-5" class="content-item"> <table>
    <tr>
      <td><img  id="photo" src="https://a-z-animals.com/media/Beefalo-Bos-taurus-X-Bison-bison.jpg" id="a1"></td>
      <td>
        <ul>
    <h1>Beefalo: Buffalo and Cow Hybrid Animal</h1>
          <li><h2>Scientific Name:<br><i> Bos taurus × Bison bison</h2></li></i>
          <li><h2>Lifespan:<br><i> 15 to 20 years.</h2></li></i>
          <li><h2>Food:<br><i> grass, hay, grains</h2></li></i>
          <li><h2>Specialty: <br><i>crossbreeding of domestic cattle <br>and American bison</h2></li></i>
          <li><h2>Speed:<br><i>35mph</h2></li></i>
          <li><h2> Weight:<br><i> 408 to 680 kgs</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
  </div>
  <div id="content-6" class="content-item"> <table>
    <tr>
      <td><img  id="photo" src="https://a-z-animals.com/media/2022/06/iStock-1257438250-1536x1024.jpg" id="a1"></td>
      <td>
        <ul>
    <h1>Grolar Bear: Grizzly and Polar Bear </h1>
          <li><h2>Scientific Name:<br><i> Ursus arctos horribilis x Ursus maritimus</h2></li></i>
          <li><h2> Lifespan:<br><i> 20 to 30 years.</h2></li></i>
          <li><h2>Food: <br><i>consumes just like other bears</h2></li></i>
          <li><h2>Specialty:<br><i>crossbreeding between  grizzly bear and polar bear </h2></li></i>
          <li><h2>Speed:<br><i> 56 kmph</h2></li></i>
          <li><h2>Weight:<br><i>  408 to 726 kgs</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
  </div>
  <div id="content-7" class="content-item"> <table>
    <tr>
      <td><img id="photo"  src="https://a-z-animals.com/media/2020/07/Jaglion.jpg" id="a1"></td>
      <td>
        <ul>
    <h1>Jaglion: Jaguar and Lion</h1>
          <li><h2>Scientific Name: Panthera onca x Panthera leo</h2></li></i>
          <li><h2>Lifespan: <br><i> 12 to 15 years.</h2></li></i>
          <li><h2>Food: <br><i> meat  just like wild animals</h2></li></i>
          <li><h2>Specialty:<br><i> crossbreeding of  male jaguar with  female lion</h2></li></i>
          <li><h2>Speed:<br><i> 80kph</h2></li></i>
          <li><h2> Weight: <br><i>91 to 181 kgs</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
  </div>
  <div id="content-8" class="content-item"> <table>
    <tr>
      <td><img id="photo"  src="https://a-z-animals.com/media/zorse-Equus-zebra-x-Equus-caballus.jpg" id="a1"></td>
      <td>
        <ul>
          <h1>Zebroid: Zebra and Horse</h1>
          <li><h2>Scientific Name:<br><i>  Equus zebra x Equus ferus caballus</h2></li></i>
          <li><h2>Lifespan: <br><i>20 to 30 years</h2></li></i>
          <li><h2>Food: <br><i>grass, hay, grains.</h2></li></i>
          <li><h2>Speed:<br><i> 40 to 56 kmph</h2></li></i>
          <li><h2> Weight: <br><i>181 to 363 kg</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
   
    
  </div>
  <div id="content-9" class="content-item"> <table>
    <tr>
      <td><img  id="photo" src="https://a-z-animals.com/media/2020/07/Geep-Sheep%E2%80%93goat_hybrid_2-1024x813.jpeg" id="a1"></td>
      <td>
        <ul>
          <h1>Geep: Goat and Sheep </h1>
          <li><h2>Scientific Name:<br><i>Capra aegagrus hircus (goat) and Ovis aries (sheep)</h2></li></i>
          <li><h2> Lifespan:<br><i>  10 to 15 years. </h2></li></i>
          <li><h2>Food:<br><i>  grass, hay, grains</h2></li></i>
          <li><h2>Specialty: <br><i> crossbreeding of a goat and a sheep</h2></li></i>
          <li><h2>Speed: <br><i>Similar to that of their parent species.</h2></li></i>
          <li><h2>Weight:<br><i> Around 23 to 68 kilograms.</h2></li></i>
        </ul>
      </td>
    </tr>
  </table>
  </div>
 </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => {
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
       
     </script>
</body>
</html>

