<!DOCTYPE html>
<html lang="en">
<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Lizards</title>
   <style>
   body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 7%;
   left: 210px;
   right:0px;
   width:1150px;
   height:550px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
}
h2{
  font-size: 20px;
color: white;
}
h1{
  font-size:35px;
  text-decoration:underline;
 color: white;
 text-transform: capitalize;
}
ul{
  width:600px;
  list-style: circle;
}
   </style>
</head>
<body>
    <div>
  <img src="https://cdn.pixabay.com/photo/2023/11/13/17/46/landscape-8386050_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-11">kamodo dragon</button></td></tr>   
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-12">water Monitor Lizard</button></td></tr>    
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-13">Crocodile Monitor</button></td></tr> 
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-14">Nile Monitor</button></td></tr>    
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-15">Gila monster</button></td></tr> 
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-16">Bearded Dragon</button></td></tr> 
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-17">Mexican beaded lizard</button></td></tr> 
</table> 
</div>
 <div class="overlay-text2">
   <div id="content-11" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/C20t4OJDpVA" title="Living Among Ancient Dragons | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>kamodo dragon</h1>
           <li><h2>Scientific name:<i><br>Varanus komodoensis</h2></li></i>
           <li><h2>Lifespan:<i><br>30 years</h2></li></i>
           <li><h2>Food:<i><br>birds,eggs,rats,pigs etc</h2></li></i>
           <li><h2>Speciality:<i><br>largest and heaviest lizard</h2></li></i>
           <li><h2>Speed:<i><br>20km h</h2></li></i>
           <li><h2>Weight:<i><br>79-91 kg </h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
 </div>
 <div id="content-12" class="content-item">
  <table>
    <tr>
      <td><iframe width="654" height="480" src="https://www.youtube.com/embed/D0tOdjvZXSM" title="Water Monitor Lizard Wrestling | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
      <td>
        
        <ul style="list-style-type:circle">
          <h1>water Monitor <br>Lizard</h1>
          <li><h2>Scientific name:<br><i>varanus salvator</h2></li></i>
          <li><h2>Lifespan:<br><i>11-25 years</h2></li></i>
          <li><h2>Food:<br><i>fish,frogs and birds</h2></li></i>
          <li><h2>Speciality:<br><i>second largest species of lizard</h2></li></i>
          <li><h2>Speed:<br><i>40kmph</h2></li></i>
          <li><h2>Weight:<br><i>40-90 pounds</h2></li></i>
         </ul>
       </td>
      </td>
    </tr>
  </table>
</div>
<div id="content-13" class="content-item">
  <table>
    <tr>
      <td><iframe width="853" height="480" src="https://www.youtube.com/embed/0DxpwGsvIMA" title="Crocodile Monitor Facts: LONGEST living LIZARD 🦎 Animal Fact Files" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
      <td>
        <ul style="list-style-type:circle">
          <h1>Crocodile Monitor</h1>
          <li><h2>Scientific name:<i><br>varanus salvadorii</h2></li></i>
          <li><h2>Lifespan:<i><br>10-20 years</h2></li></i>
          <li><h2>Food:<br><i>birds,mammals and fishs</h2></li></i>
          <li><h2>Speciality:<i><br> patterns of bright yellow spots and stripes</h2></li></i>
          <li><h2>Speed:<br><i>20mph</h2></li></i>
          <li><h2>Weight:<br><i>44 pounds</h2></li> </i>
         </ul>
       </td>
      </td>
    </tr>
  </table>
</div>
<div id="content-14" class="content-item">
  <table>
    <tr>
      <td><iframe width="853" height="480" src="https://www.youtube.com/embed/j9_OkRryXkY" title="The Ferocious Looking Nile Monitor | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
      <td>
        <ul style="list-style-type:circle">
          <h1>Nile Monitor</h1>
          <li><h2> Scientific name:<i><br>varanus niloticus</h2></li></i>
          <li><h2>Lifespan:<i><br>20 years</h2></li></i>
          <li><h2>Food:<br><i>crabs,frogs,eggs</h2></li></i>
          <li><h2>Speciality:<i><br>Africa's longest lizard</h2></li></i>
          <li><h2>Speed:<br><i>30mph</h2></li></i>
          <li><h2>Weight:<br><i>upto 17.8pounds</h2></li></i>
         </ul>
       </td>
      </td>
    </tr>
  </table>
</div>
<div id="content-15" class="content-item">
  <table>
    <tr>
      <td><iframe width="853" height="480" src="https://www.youtube.com/embed/IkKNmeSyckg" title="Monster Bites | Animal Armory" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
      <td>
        <ul style="list-style-type:circle">
          <h1>Gila monster</h1>
          <li><h2>Scientific name:<i><br> Heloderma suspectum</h2></li></i>
          <li><h2>Lifespan:<br><i> 20 to 30 years</h2></li></i>
          <li><h2>Food:<br><i> mammals, birds, reptile eggs</h2></li></i>
          <li><h2>Specialty:<br><i> venomous lizard.</h2></li></i>
          <li><h2>Speed:<br> <i>slow-moving</h2></li></i>
          <li><h2>Weight:<br><i> 1.1 to 2.2 pounds</h2></li> </i>
         </ul>
       </td>
      </td>
    </tr>
  </table>
</div>
<div id="content-16" class="content-item">
  <table>
    <tr>
      <td><iframe width="853" height="480" src="https://www.youtube.com/embed/IVcXu9rQVYk" title="Bearded Dragon: The King of Chill" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
      <td>
        <ul style="list-style-type:circle">
          <h1>Bearded Dragon</h1>
          <li><h2>Scientific name:<br> <i>Pogona spp</h2></li></i>
          <li><h2>Lifespan: <br><i>6 to 10 years</h2></li></i>
          <li><h2>Food: <br><i>insects, mealworms, and roaches</h2></li></i>
          <li><h2>Specialty: <br><i>docile nature and distinctive</h2></li></i>
          <li><h2>Speed: <br><i>can move relatively quickly</h2></li></i>
          <li><h2>Weight: <br><i>10 to 20 pounds.</h2></li></i>
         </ul>
       </td>
      </td>
    </tr>
  </table>
</div>
<div id="content-17" class="content-item">
  <table>
    <tr>
      <td><iframe width="853" height="480" src="https://www.youtube.com/embed/2KdmppDOIq0" title="(Mexican) Beaded Lizard Facts: VENOMOUS LIZARDS 🦎 Animal Fact Files" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
      <td>
        <ul style="list-style-type:circle">
          <h1>Mexican beaded <br>lizard<h1>
          <li><h2>Scientific name:<br> <i>Heloderma horridum</h2></li></i>
          <li><h2>Lifespan: <br><i>20 to 30 years</h2></li></i>
          <li><h2>Food: <br><i>mammals,birds,eggs,insects</h2></li></i>
          <li><h2>Specialty:<br><i> venomous,powerful toxins.</h2></li></i>
          <li><h2>Speed: <br><i>slow-moving</h2></li></i>
          <li><h2> Weight:<br><i> 4 to 10 pounds</h2></li></i>
         </ul>
       </td>
      </td>
    </tr>
  </table>
</div>
     </div>
   <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => { 
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
// Add the "active" class to the clicked button
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];

       firstButton.click();
       function playSound(soundFile) {
           const audio = new Audio();
           audio.play();
       }
playSound();
     </script>
</body>
</html>
</body>
</html>