<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Monkeys</title>
   <style>
      body{
      overflow:hidden;
    }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 7%;
   left:230px;
   right:0px;
   width:1080px;
   height:570px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
}
h2{
  font-size: 20px;
  color: white;
}
h1{
  font-size:30px;
  text-decoration:underline;
text-transform: capitalize;
 color: white;
}
ul{
  width:200px;
}
   </style>
</head>
<body>
    <div>
  <img src="https://cdn.pixabay.com/photo/2018/06/09/17/25/trees-3464777_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-1">chimpanze</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">gorilla</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Golden monkey</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">Dusky leaf monkey</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">brown spider monkey</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">silver lutung</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">celebes crested</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">macaque</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">emperor tamarin</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">de brazza's monkey</button></td></tr>
</table>
</div>
 <div class="overlay-text2">
     <div id="content-1" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/D-tKoMOJMHc" title="Baby Chimps Playtime | Africa&#39;s Hidden Wonders | National Geographic Wild UK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
             <h1>Chimpanzee</h1>
              <li><h2>Scientific name:<br><i> Pan troglodytes</h2></li></i>
              <li><h2>Lifespan:<br><i> 40 to 50 years</h2></li></i>
              <li><h2>Food:<br><i> fruits, leaves, seeds, insects</h2></li></i>
              <li><h2>Specialty:<br><i> highly intelligent and have a sophisticated social structure. problem-solving abilities</h2></li></i>
              <li><h2>Speed:<br><i> 40 km/h</h2></li></i>
              <li><h2>Weight:<br><i> 40 to 60 kilograms</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-2" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/KzJ3ymaYYKs" title="【Kyoto】Gorilla⭐️Silverback Momotaro‼︎ The road to becoming a good father(Indoor edition)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
            <ul style="list-style-type:circle">
              <h1> Gorilla</h1>
              <li><h2>Scientific name: <br><i>Gorilla beringei</h2></li></i>
              <li><h2>Lifespan:<br><i>35 to 50 years</h2></li></i>
              <li><h2>Food: <br><i>leaves, stems, fruits, insects</h2></li></i>
              <li><h2>Specialty:<br><i> immense strength,largest living primate</h2></li></i>
              <li><h2>Speed:<br><i>40 km/h</h2></li></i>
              <li><h2>Weight:<br><i>135 to 227 kg</h2></li> </i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-3" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/yARtExKaIH8" title="A Baby Golden Snub-Nosed Monkey | Hidden Kingdoms of China" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
             <h1> Golden Monkey</h1>
              <li><h2>Scientific name:<br><i> Rhinopithecus roxellana</h2></li></i>
              <li><h2>Lifespan:<br><i> 15 to 20 years</h2></li></i>
              <li><h2>Food:<br><i>leaves,bamboo shoots,fruits,insects</h2></li></i>
              <li><h2>Specialty:<br><i>vibrant golden-orange fur</h2></li></i>
              <li><h2>Speed:<br><i>34 mph</h2></li></i>
              <li><h2>Weight:<br><i>5 to 11 kgs</h2></li></i>
             </ul> 
           </td>
         </tr>
       </table>
     </div>
     <div id="content-4" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/B4hVJKngsJo" title="Dusky Leaf Monkey -  Get to Know the Endangered Dusky Leaf Monkey" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> Dusky Leaf Monkey</h1>
              <li><h2>Scientific name: <br><i>Trachypithecus obscurus</h2></li></i>
              <li><h2>Lifespan:<br><i> 20 to 25 years</h2></li></i>
              <li><h2>Food: <br><i>leaves, fruits, flowers,seeds</h2></li></i>
              <li><h2>Specialty: <br><i>dark-colored body and a pale or white circle around their eyes</h2></li></i>
              <li><h2>Speed:<br><i> 34 mph</h2></li></i>
              <li><h2>Weight:<br><i> 3 to 5 kgs</h2></li></i>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     
     <div id="content-5" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/yqzVI0CSKCU" title="Swing Through the Trees With Amazing Spider Monkeys | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> Brown Spider Monkey</h1>
              <li><h2>Scientific name: <br><i>Ateles hybridus</h2></li></i>
              <li><h2>Lifespan:<br><i> 20 to 25 years</h2></li></i>
              <li><h2>Food: <br><i>fruits, seeds, nuts, leaves, and flowers</h2></li></i>
              <li><h2>Specialty: <br><i>prehensile tails that act as an extra limb</h2></li></i>
              <li><h2>Speed: <br><i> 34 mph</h2></li></i>
              <li><h2> Weight:<br><i>8 to 10 kgs</h2></li></i>
             </ul> 
           </td>
         </tr>
       </table>
     </div>
     <div id="content-6" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/_q4qG-iSnrw" title="Kuala Selangor - Silver Leaf Monkeys (part one) - Silvery Lutung - Silvery Langur - Animals Malaysia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> Silvered Leaf Monkey </h1>
              <li><h2>Scientific name: <br><i>Trachypithecus cristatus</h2></li></i>
              <li><h2>Lifespan: <br><i>18 to 25 years</h2></li></i>
              <li><h2>Food: <br><i>leaves, fruits, seeds, flowers.</h2></li></i>
              <li><h2>Specialty:<br><i> silvery-gray fur coloration.</h2></li></i>
              <li><h2>Speed:<br><i>34 mph.</h2></li></i>
              <li><h2>Weight:<br><i>5 to 7 kgs</h2></li></i>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-7" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/2IPCymrG9hA" title="Cute Affectionate Monkeys | Lands of the Monsoon | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Celebes Crested Macaque</h1>
              <li><h2>Scientific name:<br><i> Macaca nigra</h2></li></i>
              <li><h2>Lifespan: <br><i>20 to 25 </h2></li></i>
              <li><h2> Food: <br><i>fruits, seeds, leaves, insects</h2></li></i>
              <li><h2>Specialty: <br><i>unique crest of hair on their heads. social behavior and complex social structures</h2></li></i>
              <li><h2>Speed:<br><i>34 mph.</h2></li></i>
              <li><h2>Weight:<br><i>6 to 10 kgs</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-9" class="content-item">
       <table>
         <tr>
           <td><iframe width="1036" height="588" src="https://www.youtube.com/embed/UkwnQQTU-jk" title="Emperor Tamarin Families | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1> Emperor Tamarin</h1>
              <li><h2>Scientific name: <br><i>Saguinus imperator</h2></li></i>
              <li><h2>Lifespan:<br><i>up to 20 years</h2></li></i>
              <li><h2>Food: <br><i>fruits, insects, small vertebrates, nectar, and sap.</h2></li></i>
              <li><h2>Specialty: <br><i>appearance with long, white mustache-like facial hair</h2></li></i>
              <li><h2>Speed:<br><i>34 mph</h2></li></i>
              <li><h2>Weight:<br><i>255 to 340 gms</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-10" class="content-item">
      <table>
        <tr>
          <td><iframe width="1036" height="583" src="https://www.youtube.com/embed/AD7ojFqB-uU" title="Species Spotlight: De Brazza&#39;s monkeys" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
             <h1> De Brazza's Monkey</h1>
             <li><h2>Scientific name:<br><i> Cercopithecus neglectus</h2></li></i>
             <li><h2>Lifespan:<br><i>20 to 25 years</h2></li></i>
             <li><h2>Food:<br><i>fruits,leaves,seeds, nsects,bird eggs</h2></li></i>
             <li><h2>Specialty:<br><i> white beard-like fringe and a reddish brow ridge.</h2></li></i>
             <li><h2>Speed:<br><i>34 mph.</h2></li></i>
             <li><h2>Weight:<br><i> 5 to 14 kgs</h2></li></i>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div id="content-8" class="content-item">
      <table>
        <tr>
          <td><iframe width="853" height="480" src="https://www.youtube.com/embed/jLLi2c-c3-o" title="Baby Macaque Social Skills Tested by Violent Elder | Growing Up Wild | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
             <h1> Macaque </h1>
             <li><h2>Scientific name: <br><i>Macaca spp</h2></li></i>
             <li><h2>Lifespan:<br><i> 20 to 30 years.</h2></li></i>
             <li><h2>Food:<br><i>fruits, seeds, leaves, insects </h2></li></i>
             <li><h2>Specialty: <br><i>complex social structures and adaptable behavior communication methods within the groups</h2></li></i>
             <li><h2>Speed: <br><i> 34 mph</h2></li></i>
             <li><h2>Weight:<br><i>5 to 11 kgs</h2></li> </i>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => {
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
       
     </script>
</body>
</html>

