<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SNAKES</title>
   <style>
img{
       width:1340px;
   height:650px;
   overflow:hidden;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 7%;
   left: 220px;
   right:0px;
   width:1100px;
   height:550px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
  color: black;
}
h2{
  font-size: 20px;
}
h1{
  font-size:35px;
  text-decoration:underline;
text-transform: capitalize;
}
ul{
  width:200px;
}
   </style>
</head>
<body>
    <div>
  <img src="https://cdn.pixabay.com/photo/2017/03/14/17/43/mountain-2143877_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">King Cobra</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Python</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">Viper</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">Annaconda</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">Boas</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">Black Mamba</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">Inland Taipan</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">Grass snake</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">Gaboon adder</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-11">Calliophis bivirgatus</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-12">Eyelash viper</button></td></tr>
</table> 
</div>
 <div class="overlay-text2">
     <div id="content-2" class="content-item">
       <table>
         <tr>
           <td><iframe width="712" height="480" src="https://www.youtube.com/embed/cVv9RjutTr4" title="Cobra vs. Rat Snake | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>king COBRA</h1>
              <li><h2>Scientific name:<br><i>Ophiophagus hannah</h2></li></i>
              <li><h2>Lifespan:<br><i>20years</h2></li></i>
              <li><h2>Food:<br><i>cold-blooded animals</h2></li></i>
              <li><h2>Speciality:<br><i>Fierce & aggressive snake</h2></li></i>
              <li><h2>Speed:<br><i>12mph</h2></li></i>
              <li><h2>Weight:<br><i>13pounds</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-3" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/kGWPmMmZaXQ" title="Pitones 101 | National Geographic en Español" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>PYTHON</h1>
              <li><h2>Scientific name:<br><i>Molorus bivittatus</h2></li></i>
              <li><h2>Lifespan:<br><i>15-30years</h2></li></i></i>
              <li><h2>Food:<br><i>mammals, wallabies</h2></li></i>
              <li><h2>Speciality:<br><i>large in size &powerful</h2></li></i>
              <li><h2>Speed:<br><i>1mph</h2></li></i>
              <li><h2>Weight:<br><i>7ounces to 250pounds</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-4" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/b-FlPXDPJog" title="Viper vs. Mouse | Nat Geo Wild" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>VIPER</h1>
              <li><h2>Scientific name:<br><i>Viperidae</h2></li></i></i>
              <li><h2>Lifespan:<br><i>more than 16 years</h2></li></i></i>
              <li><h2>Food:<br><i>small reptiles, land crabs, scorpions</h2></li></i>
              <li><h2>Speciality:<br><i>stocky body, hinged fangs</h2></li></i>
              <li><h2>Speed:<br><i>3.3kmph</h2></li></i>
              <li><h2>Weight:<br><i>45 pounds</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-5" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/_qgA63Ixc_Y" title="The Anaconda is a Heavyweight of Snakes | Nat Geo Wild" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>ANNACONDA</h1>
              <li><h2>Scientific name:<br><i>Eunectes</h2></li></i>
              <li><h2>Lifespan:<br><i>10 years</h2></li></i>
              <li><h2>Food:<br><i>fish, amphibians, birds</h2></li></i>
              <li><h2>Speciality:<br><i>largest snake in the world</h2></li></i>
              <li><h2>Speed:<br><i>5kmph</h2></li></i>
              <li><h2>Weight:<br><i>550 pounds</h2></li></i>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     
     <div id="content-6" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/4K3LqfFEg1A" title="Boa imperator, big constrictor snake, Tree boas, Corallus, Dumeril&#39;s boa, Acrantophis, booid snakes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Boas</h1>
              <li><h2>Scientific name: <br><i>Boa constrictor imperator</h2></li></i>
              <li><h2>Lifespan: <br><i>20-30 years</h2></li></i>
              <li><h2>Food: <br><i>mammals, birds</h2></li></i>
              <li><h2>Specialty: <br><i>hunting technique,powerful body muscles excellent sense of smell</h2></li></i>
              <li><h2>Speed: <br><i>little slow</h2></li></i>
              <li><h2> Weight: <br><i>20 to 30 pounds</h2></li></i>
            </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-7" class="content-item">
       <table>
         <tr>
           <td><iframe width="712" height="480" src="https://www.youtube.com/embed/l8f4moBLpEU" title="Black Mamba vs. The World | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>BLACK MAMBA</h1>
              <li><h2>Scientific name:<br><i>Dendroaspis Polylepis</h2></li></i>
              <li><h2>Lifespan:<br><i> 20 years</h2></li></i>
              <li><h2>Food:<br><i>smaller mammals like mice, Squirrels</h2></li></i>
              <li><h2>Speciality:<br><i>Africa's longest venomous snake</h2></li></i>
              <li><h2>Speed:<br><i>20kmh</h2></li></i>
              <li><h2> Weight:<br><i>1.6kg</h2></li></i>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-8" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/QAaW3U18rzQ" title="Inland taipan (Fierce snake) - the most venomous snake in the world!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>Inland Taipan</h1>
              <li><h2>Scientific Name:<br><i> Oxyuranus microlepidotus</h2></li></i>
              <li><h2>Lifespan:<br><i> 10-15 years</h2></li></i>
              <li><h2>Food: <br><i>small mammals</h2></li></i>
              <li><h2>Specialty: <br><i>venom snake.</h2></li></i>
              <li><h2>Speed:<br><i> 5mph</h2></li></i>
              <li><h2>Weight:<br><i> 1 to 2 kgs.</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-9" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/dKzusUOKea0" title="Green Vine Snake" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
              <h1>GRASS SNAKE</h1>
              <li><h2>Scientific name:<br><i> Natrix natrix</h2></li></i>
              <li><h2>Lifespan:<br><i>upto 25years</h2></li></i>
              <li><h2>food:<br><i>Frogs,toads,newts,fish,mammals and birds</h2></li></i>
              <li><h2>Speciality:<br><i> semi-aquatic non-venomous </h2></li></i>
              <li><h2>speed:<br><i>18mph</h2></li></i>
              <li><h2>weight:<br><i>100-200 gms</h2></li></i>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-10" class="content-item">
      <table>
        <tr>
          <td><iframe width="640" height="480" src="https://www.youtube.com/embed/m05rUooBwHQ" title="Gaboon Adder vs. Rat | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
            <h1>Gaboon adder</h1>
             <li><h2>Scientific name: <br><i>Bitis gabonica</h2></li></i>
             <li><h2>Lifespan:<br><i>15-20 years</h2></li></i>
             <li><h2>Food: <br><i>mammals,rodents,birds, amphibians.</h2></li></i>
             <li><h2>Specialty:<br><i> longest fangs of any snake species.</h2></li></i>
             <li><h2>Speed:<br><i>175 to 200mph.</h2></li></i>
             <li><h2>Weight:<br><i>8 to 20 pounds</h2></li> </i>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div id="content-11" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/seuQh7VX7O8" title="Malayan Blue Coral Snake: Singapore Nature 2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>Calliophis bivirgatus</h1>
           <li><h2>Scientific name:<br><i> Calliophis bivirgata</h2></li></i>
           <li><h2>Lifespan:<br><i>15-20 years</h2></li></i>
           <li><h2>food:<br><i>mammals,rodents,birds, amphibians</h2></li></i>
           <li><h2>Speciality:<br><i>highly venomous</h2></li></i>
           <li><h2>speedSpeed:<br><i>175 to 200mph</h2></li></i>
           <li><h2>weight:<br><i>200-300 gms</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div id="content-12" class="content-item">
    <table>
      <tr>
        <td><iframe width="853" height="480" src="https://www.youtube.com/embed/mr9-rjQNK34" title="Yellow Eyelash Viper | Untamed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
        <td>
          <ul style="list-style-type:circle">
           <h1>Eyelash viper</h1></li>
           <li><h2>Scientific Name: <br><i>Bothriechis schlegelii</h2></li></i>
           <li><h2>Lifespan :<br><i>10-20 years</h2></li></i>
           <li><h2>Food:<br><i>small mammals,birds,frogs,lizards.</h2></li></i>
           <li><h2>Specialty:<br><i>venomous</h2></li></i></i>
           <li><h2>Speed:<br><i>slow</h2></li></i>
           <li><h2>Weight:<br><i>80 to 150 gms</h2></li></i>
          </ul>
        </td>
      </tr>
    </table>
  </div>
 
     </div>
    <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => { 
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
       
     </script>
</body>
</html>