<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TURTULES</title>
   <style>
 body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
   position: absolute;
   top: 10%;
   left:30px;
   backdrop-filter:blur(10px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
}
table{
   width:150px;
   height:100px;
}
.overlay-text2 {
   position: absolute;
   top: 10%;
   left: 250px;
   right:0px;
   width:1080px;
   height:500px;
   backdrop-filter:blur(3px);
   box-shadow: inset 0px 0px 50px ;
   border-radius:10px;
   justify-items:center;
   border: orangered;
}
#app{
 position: relative;
 top:-60px;
 left:0px;
}
#img1{
 height: 480px;
 width: 1000px;
 margin-left:50px;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
  color:white;
}
h2{
  font-size: 18px;
}
h1{
  font-size:25px;
  text-decoration:underline;
  color:white;
}
ul{
  width:200px;
}
   </style>
</head>
<body>
    <div>
  <img src="https://cdn.pixabay.com/photo/2019/08/01/07/56/rain-4376988_640.jpg">
 </div>
 <div class="overlay-text1">
    <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-1">African spurred tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">hermann's tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">Indian star tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">Galapagos Giant Tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">greek tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">leopard tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">Gopher tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">Aldabra giant tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">Asian forest tortoise</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">sea turtle</button></td></tr>  
 
</table> 
</div>
 <div class="overlay-text2">
     <div id="content-1" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/bTOxpV3L7YA" title="Worlds Biggest Tortoise Can Live Up to 120 Years | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:African spurred tortoise</h1></li>
               <li><h2>Scientific name: Geochelone sulcata</h2></li>
               <li><h2> Lifespan: 50-150 years</h2></li>
               <li><h2>Food: grasses, weeds, leafy greens</h2></li>
               <li><h2>Specialty: large size</h2></li>
               <li><h2>Speed: 0.3 miles per hour (0.5 km/h)</h2></li>
               <li><h2>Weight: 70 to over 200 pounds</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-2" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/I203c5R3iO8" title="The Hermann’s Tortoise Is The Most Low-Maintenance Pet | Scaled" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:hermann's tortoise</h1></li>
               <li><h2>Scientific name: Testudo hermanni</h2></li>
               <li><h2>Lifespan: 50 to 100 years</h2></li>
               <li><h2>Food: plants, leafy greens, flowers, and fruits</h2></li>
               <li><h2>Specialty: shell colors and patterns</h2></li>
               <li><h2>Speed:0.63mph </h2></li>
               <li><h2>Weight: 1.5 to 2.5 kgs</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-3" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/WJtsooCBkYQ" title="Indian Star Tortoise diet | The most detailed diet list for Indian Star Tortoise" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:Indian star tortoise</h1></li>
               <li><h2>Scientific name: Geochelone elegans</h2></li>
               <li><h2>Lifespan: 30 to 80 years</h2></li>
               <li><h2>Food: grasses, weeds, leafy's</h2></li>
               <li><h2>Specialty: striking star-shaped patterns on shells</h2></li>
               <li><h2>Speed: can move steadily</h2></li>
               <li><h2>Weight: 1.5 to 2.2 pounds</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-4" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/rEp6pkkYOgE" title="Tracking Giant Galapagos Tortoises | BBC Earth" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:Galapagos Giant Tortoise</h1></li>
               <li><h2>Scientific name: Chelonoidis nigra</h2></li>
               <li><h2>Lifespan: 100 years</h2></li>
               <li><h2>Food: grasses, leaves, cacti, fruits</h2></li>
               <li><h2>Specialty: colossal size and impressive longevity</h2></li>
               <li><h2>Speed: 0.16 to 0.31 mph</h2></li>
               <li><h2> Weight: 250 to over 500 pound</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     
     <div id="content-5" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/8PptCh6C9yQ" title="Greek Tortoise!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:greek tortoise</h1></li>
               <li><h2>Scientific name:Chelonia mydas</h2></li>
               <li><h2>Lifespan:70 or more years</h2></li>
               <li><h2>Food:algae, seagrasses, discarded fish</h2></li>
               <li><h2>Speciality:greenish color of their sheild </h2></li>
               <li><h2>Speed:1.6-6.3mph</h2></li>
               <li><h2>Weight:160kg</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-6" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/FBWAd8jfpPM" title="Leopard Tortoise Facts: BLACK and YELLOW Tortoise 🐢 Animal Fact Files" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:leopard tortoise</h1></li>
               <li><h2>Scientific name: Stigmochelys pardalis</h2></li>
               <li><h2>Lifespan: 50 to 100 years.</h2></li>
               <li><h2>Food: grasses, weeds, leafy green</h2></li>
               <li><h2>Specialty:shell pattern resemble's leopard spots</h2></li>
               <li><h2>Speed: 0.3 to 0.6 mph</h2></li>
               <li><h2>Weight: 40 to 100 pounds</h2></li>  
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-7" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/MWrdJVlbvZ4" title="Gopher Tortoise - feeding a threatened species!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:Gopher tortoise</h1></li>
               <li><h2>Scientific name: Gopherus polyphemus</h2></li>
               <li><h2>Lifespan: 40 to 60 years</h2></li>
               <li><h2>Food: grasses, fruits, legumes, and low-growing plants</h2></li>
               <li><h2>Specialty: remarkable digging abilities</h2></li>
               <li><h2> Speed: can move at a steady</h2></li>
               <li><h2>Weight: 9 to 15 pounds</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
     <div id="content-8" class="content-item">
       <table>
         <tr>
           <td><iframe width="853" height="480" src="https://www.youtube.com/embed/Y5bD9hAPtms" title="Aldabra Giant Tortoise Facts: Galapagos Tortoise RIVAL 🐢" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
           <td>
             <ul style="list-style-type:circle">
               <li><h1>name:Aldabra giant tortoise</h1></li>
               <li><h2>Scientific name: Aldabrachelys gigantea</h2></li>
               <li><h2>Lifespan: 100 -150 years</h2></li>
               <li><h2>Food: grasses, leaves, and woody plant stems</h2></li>
               <li><h2>Specialty: immense size and heavy, domed shells</h2></li>
               <li><h2>Speed: move at a leisurely pace</h2></li>
               <li><h2>Weight: 330 to 550 pounds</h2></li>
              </ul>
           </td>
         </tr>
       </table>
     </div>
       <div id="content-9" class="content-item">
        <table>
          <tr>
            <td><iframe width="853" height="480" src="https://www.youtube.com/embed/wmyBWIhNWtg" title="Asian Forest Tortoise in Kaeng Krachan National Park, Thailand" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
            <td>
              <ul style="list-style-type:circle">
                <li><h1>name:Asian forest tortoise</h1></li>
                <li><h2>Scientific name: Manouria emys</h2></li>
                <li><h2>Lifespan: 60 to 80 years.</h2></li>
                <li><h2>Food: fruits, leaves, flowers</h2></li>
                <li><h2>Specialty: large size</h2></li>
                <li><h2>Speed: can move steadily</h2></li>
                <li><h2>Weight: 22 to 33 pounds</h2></li>
               </ul>
            </td>
          </tr>
        </table>
     </div>
     <div id="content-10" class="content-item">
      <table>
        <tr>
          <td><iframe width="853" height="480" src="https://www.youtube.com/embed/5Rmv3nliwCs" title="Sea Turtles 101 | National Geographic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
          <td>
            <ul style="list-style-type:circle">
              <li><h1>Name:Sea turtle</h1></li>
              <li><h2>Scientific name:Chelonioidea</h2></li>
              <li><h2>Lifespan:50-100years</h2></li>
              <li><h2>Food:algae, crabs, shrimp</h2></li>
              <li><h2>Speciality:help beaches by depositing their eggs in the sand</h2></li>
              <li><h2>Speed:35kmph</h2></li>
              <li><h2>Weight:160kg</h2></li>
             </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
   <script>
       const buttons = document.querySelectorAll('.nav-button');
       const contentItems = document.querySelectorAll('.content-item');
       buttons.forEach((button) => {
         button.addEventListener('click', () => { 
           contentItems.forEach((item) => {
             item.style.display = 'none';
           });// Remove the "active" class from all buttons
           buttons.forEach((btn) => {
              btn.classList.remove('active');
           });            // Show the corresponding content
           const contentId = button.getAttribute('data-content');
           const content = document.getElementById(contentId);
           content.style.display = 'block';
// Add the "active" class to the clicked button
           button.classList.add('active');
         });
       });  // Initially show the content for the first button (if needed)
       const firstButton = buttons[0];
       firstButton.click();
     </script>
</body>
</html>
</body>
</html>