<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WILD ANIMALS</title>
    <style>
body{
      overflow:hidden;
    }
    ul{
  width:200px;
      }
            img{
       width:1350px;
   height:670px;
}
.overlay-text1 {
    position: absolute;
    top: 10%;
    left:30px;
    backdrop-filter:blur(10px);
    box-shadow: inset 0px 0px 50px ;
    border-radius:10px;
}
table{
    width:150px;
    height:100px;
}
.overlay-text2 {
    position: absolute;
    top: 10%;
    left: 200px;
    right:0px;
    width:1100px;
    height:550px;
    backdrop-filter:blur(3px);
    box-shadow: inset 0px 0px 50px ;
    border-radius:10px;
    justify-items:center;
    border: orangered;
}
#img1{
  height: 480px;
  width: 1000px;
  margin-left:50px;
}
iframe{
  width:800px;
  height:480px;
}

h1{
  text-transform: capitalize;
  font-size:35px;
  color: white;
  text-decoration:underline;
}
#play-button1{
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:skyblue;
  color: white;
  font-size:20px;
}
#play-button1:hover{
  color: black;
  text-decoration: overline;
  background-color: yellow;
}
iframe{
  width:800px;
  height:480px;
}
li{
  text-transform: capitalize;
  color: white;
}
h2{
  font-size: 20px;
  color: white;
}
    </style>
</head>
<body>
     <div>
   <img src="https://cdn.pixabay.com/photo/2020/03/19/05/13/landscape-4946313_640.jpg">
  </div>
  <div class="overlay-text1">
     <table>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-2">LION</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-3">TIGER</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-4">CHEETHA</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-5">WOLF</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-6">Leopards</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-7">JACKAL</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-8">FOX</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-9">hyena</button></td></tr>
<tr><td><button  id="play-button1"  class="nav-button"  data-content="content-10">Jaguar</button></td></tr>
    </table> 
</div>
  <div class="overlay-text2">
    <div class="content">
      <div id="content-2" class="content-item">
        <table>
          <tr>
            <td>
              <iframe src="https://drive.google.com/file/d/1I-Gkq3tYIypX95wa0KZTJDZYzsRuKjnI/preview" width="800" height="480" allow="autoplay"></iframe>
            </td>
            <td>
              <ul style="list-style-type:circle">
              <h1>lion</h1>
              <li><h2>scientific name:<br><i></i>Panthera leo</h2></li>
              <li><h2>Lifespan:<br><i>15 to 16 years</i></h2></li>
              <li><h2>food:<br><i>baby elephants, rhinoceros,deer,rabbits etc</i></h2></li>
              <li><h2>speciality:<br><i>king of forest</i></h2></li>
              <li><h2>Speed:<br><i></i> 74 km/h</h2></li>
              <li><h2>Weight:<br><i>190 kg</i></h2></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="content-3" class="content-item">
        <table>
          <tr>
            <td><iframe src="https://drive.google.com/file/d/1HsbigBzSWvx0fhgCtvvRJsFssQpKs6jn/preview" width="640" height="480" allow="autoplay"></iframe></td>
            <td>
              <ul style="list-style-type:circle">
                <h1>Tiger</h1>
                <li><h2>scientific name:<br><i>panther tigirs</i></h2></li>
                <li><h2>Lifespan:<br><i>10-15years</i></h2></li>
                <li><h2>Food: <br><i>elk,dear,lynx,bears,rabbits</i></h2></li>
                <li><h2>Speciality:<br><i>Strong legs</i></h2></li>
                <li><h2>Speed:<br><i>49-65km/h</i></h2></li>
                <li><h2>Weight: <br><i>90-310kg</i></h2></li>
              </ul>   
            </td>
          </tr>
        </table>
      </div>
      <div id="content-4" class="content-item">
        <table>
          <tr>
            <td><iframe src="https://drive.google.com/file/d/1HsWpuvbEDZibEDV94cERA48R5InwGou_/preview" width="640" height="480" allow="autoplay"></iframe></td>
            <td>
              <ul style="list-style-type:circle">
              <h1>cheetah</h1>
              <li><h2>scientific name:<br><i>Acinonyx jubatus</i></h2></li>
              <li><h2>Lifespan:<br><i>8 to 10years</i></h2></li>
              <li><h2>Food:<br><i>deer,elk,rabbits etc</i></h2></li>
              <li><h2>Speciality:<br><i>world's fastest animal</i></h2></li>
              <li><h2>Speed:<br><i>80-130km/h</i></h2></li>
              <li><h2>Weight:<br><i>75 to 140 pounds</i></h2></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="content-5" class="content-item">
        <table>
          <tr>
            <td>
              <iframe width="853" height="480" src="https://www.youtube.com/embed/YXMo5w9aMNs" title="Wolves 101 | Nat Geo Wild" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </td>
            <td>
              <ul style="list-style-type:circle">
                <h1>wolf</h1>
                <li><h2>scientific name:<br><i>canis lupus</i></h2></li>
                <li><h2>Lifespan:<br><i>16years</i></h2></li>
                <li><h2>Food:<br><i>deer, elk, bison, moose</i></h2></li>
                <li><h2>speciality:<br><i>track and trace their prey for hours, well into the night</i></h2></li>
                <li><h2>Speed:<br><i>50-60k/h</i></h2></li>
                <li><h2>Weight:<br><i>30-80kg</i></h2></li>
              </ul>          
            </td>
          </tr>
        </table>
      </div>
      
      <div id="content-6" class="content-item">
        <table>
          <tr>
            <td>
              <iframe src="https://drive.google.com/file/d/1Hvpq-VOXUEa28V0oY0_BFQlvboo-wlaT/preview" width="640" height="480" allow="autoplay"></iframe></td>
            <td>
              <ul style="list-style-type:circle">
                <h1>Leopard</h1>
                <li><h2>Scientific name:<br><i>Panthera pardus</i> </h2></li>
                <li><h2>Lifespan:<br><i>12 to 17 years</i> </h2></li>
                <li><h2>food:<br><i>fish, reptiles, and birds</i> </h2></li>
                <li><h2>speciality:<br><i>incredibly athletic and climbing ability</i></h2></li>
                <li><h2>Speed:<br><i> 58 km/h</i></h2></li>
                <li><h2>Weight:<br><i> 31 kg</i></h2></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="content-7" class="content-item">
        <table>
          <tr>
            <td><iframe width="853" height="480" src="https://www.youtube.com/embed/hM9BQAHrcGA" title="Learn the facts: All you need to know about Jackal | EcoTraining" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
            <td>
              <ul style="list-style-type:circle">
                <h1>jackal</h1>
                <li><h2>scientific name:<br><i>canis auereus</i></h2></li>
                <li><h2>Lifespan:<br><i>8-9years</i></h2></li>
                <li><h2>Food:<br><i>reptiles, insects, ground-dwelling birds</i></h2></li>
                <li><h2>Speciality:<br><i>most active at dawn and dusk</i></h2></li>
                <li><h2>Speed:<br><i>40mph</i></h2></li>
                <li><h2> Weight:<br><i>7-11 kg</i></h2></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="content-8" class="content-item">
        <table>
          <tr>
            <td>
              <iframe width="853" height="480" src="https://www.youtube.com/embed/OD4A9Xj0cYo" title="Fantastic Mr. Fox | Destination WILD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </td>
              <td>
                <ul style="list-style-type:circle">
                  <h1>fox</h1>
                  <li><h2>scientific name:<br><i>vulpes vulpes</i></h2></li>
                  <li><h2>Lifespan:<br><i>3-4years</i></h2></li>
                  <li><h2>Food:<br><i>rabbits,rodents,birds,frogs</i></h2></li>
                  <li><h2>Speciality:<br><i>they are solitary animals</i> </h2></li>
                  <li><h2>Speed:<br><i>30-45mph</i></h2></li>
                  <li><h2>Weight:<br><i>5-7kg</i></h2></li>
                </ul>
              </td>
          </tr>
        </table>
      </div>
      <div id="content-9" class="content-item">
        <table>
          <tr>
            <td><iframe width="853" height="480" src="https://www.youtube.com/embed/LxPj7ko8Z54" title="Everything you didn’t know about spotted hyenas | Animal Facts | EcoTraining" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
            <td>
              <ul style="list-style-type:circle">
                <h1>hyena</h1>
                <li><h2>scientific name:<br><i>hyaenidae</i></h2></li>
                <li><h2>Lifespan:<br><i>12years</i></h2></li>
                <li><h2>Food:<br><i>bones, vegetables matter, carrion</i></h2></li>
                <li><h2>Speciality: <br><i>efficient predators</i></h2></li>
                <li><h2>Speed:<br><i>64km/h</i></h2></li>
                <li><h2>Weight:<br><i>40-64kg</i></h2></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="content-10" class="content-item">
        <table>
          <tr>
            <td>
              <iframe src="https://drive.google.com/file/d/1HtAFy3ur8FarzCQqWQB1TxCwNhxrjj-m/preview" width="640" height="480" allow="autoplay"></iframe>
            </td>
            <td>
              <ul style="list-style-type:circle">
                <h1>jagura</h1>
                <li><h2>scientific name:<br><i>panthera onca</i></h2></li>
                <li><h2>Lifespan:<br><i>12-15 years</i></h2></li>
                <li><h2>Food:<br><i>fish, birds, monkeys, deer, tortoises</i></h2></li>
                <li><h2>Speciality:<br><i>third biggest cat in the world</i></h2></li>
                <li><h2>Speed:<br><i>200km/h</i></h2></li>
                <li><h2>Weight:<br><i>56-96kg</i></h2></li>
              </ul>   
            </td>
          </tr>
        </table>
      </div>
    
    <script>
        const buttons = document.querySelectorAll('.nav-button');
        const contentItems = document.querySelectorAll('.content-item');
        buttons.forEach((button) => {
          button.addEventListener('click', () => {  // Hide all content items
            contentItems.forEach((item) => {
              item.style.display = 'none';
            });// Remove the "active" class from all buttons
            buttons.forEach((btn) => {
               btn.classList.remove('active');
            });            // Show the corresponding content
            const contentId = button.getAttribute('data-content');
            const content = document.getElementById(contentId);
            content.style.display = 'block';
// Add the "active" class to the clicked button
            button.classList.add('active');
          });
        });  // Initially show the content for the first button (if needed)
        const firstButton = buttons[0];

        firstButton.click();
        function playSound(soundFile) {
            const audio = new Audio();
            audio.play();
        }
playSound();
      </script>
</body>
</html>